{% extends 'base.html' %}
{% load static %}

{% block title %}
    Course Details
{% endblock title %}

{% block head_refs %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href={% static 'css/course-detail.css' %}/>
{% endblock head_refs %}

{% block contents %}
    <div class="d-flex">
        <!-- Sidebar -->
        <nav class="sidebar d-flex flex-column p-3">
            <h4 class="text-white">Menu</h4>
            <ul class="nav flex-column">
                <li class="nav-item"><a href="{% url 'my_admin:course_list' %}" class="nav-link active">Courses</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Teachers</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Students</a></li>
            </ul>
        </nav>

        <div class="content flex-grow-1">
            <div class="d-flex justify-content-end mb-3">
                <a href="{% url 'my_admin:course_list' %}" class="back-btn text-decoration-none">BACK</a>
            </div>



            <h5>Teacher Name: Mr/Ms {{ course.teacher }}</h5>
            <p>Course Duration: {{ course.total_time }} hours</p>
            <p>Number of Students: {{ number_of_students }}
                <button class="btn-custom" data-bs-toggle="modal" data-bs-target="#studentModal">View List</button>
            </p>
            <div class="row mt-4">
                <!-- Left Column: Session Stats -->
                <div class="col-md-6 mb-3">
                    <div class="card stat-card mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Total Sessions</span>
                            <div class="stat-number">{{ session_number }}</div>
                        </div>
                    </div>
                    <div class="card stat-card mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Sessions Completed</span>
                            <div class="stat-number">4</div>
                        </div>
                    </div>
                    <div class="card stat-card mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Sessions Remaining</span>
                            <div class="stat-number">9</div>
                        </div>
                    </div>
                </div>

                <!-- Right Column: Course Info -->
                <div class="col-md-6 mb-3">
                    <div class="card stat-card mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Class Days & Time</span>
                            <div class="stat-number">{% for days in course.week_days.all|join:" - " %}
                                        {{ days }} {% endfor %} {{ course.start_time|date:'H:i' }} / {{ course.end_time|date:'H:i' }}</div>
                        </div>
                    </div>
                    <div class="card stat-card mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Course Start Date</span>
                            <div class="stat-number">{{ course.start_date|date:"Y/m/d" }}</div>
                        </div>
                    </div>
                    <div class="card stat-card mb-3">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Course End Date</span>
                            <div class="stat-number">{{ course.end_date|date:"Y/m/d" }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ✅ Session List Section  -->
            <div class="session-list mt-5">
                <h5 class="text-white mb-3">Session List</h5>
                <div class="table-responsive">
                    <table class="table table-bordered align-middle text-center custom-table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Class Status</th>
                                <th>Instructor Notes</th>
                                <th>Absentees List</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2025/07/11</td>
                                <td>Held</td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#teachenNoteModal">View</a></td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#absentModal">View</a></td>
                            </tr>
                            <tr>
                                <td>2025/07/18</td>
                                <td>Held</td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#teachenNoteModal">View</a></td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#absentModal">View</a></td>
                            </tr>
                            <tr>
                                <td>2025/02/12</td>
                                <td>Cancelled</td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#teachenNoteModal">View</a></td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#absentModal">View</a></td>
                            </tr>
                            <tr>
                                <td>2025/09/23</td>
                                <td>Held</td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#teachenNoteModal">View</a></td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#absentModal">View</a></td>
                            </tr>
                            <tr>
                                <td>2025/01/27</td>
                                <td>Cancelled</td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#teachenNoteModal">View</a></td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#absentModal">View</a></td>
                            </tr>
                            <tr>
                                <td>2025/06/05</td>
                                <td>Cancelled</td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#teachenNoteModal">View</a></td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#absentModal">View</a></td>
                            </tr>
                            <tr>
                                <td>2025/06/20</td>
                                <td>Held</td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#teachenNoteModal">View</a></td>
                                <td><a href="#" class="btn btn-sm btn-outline-light" data-bs-toggle="modal"
                                        data-bs-target="#absentModal">View</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Home Work Section -->
            <div class="homework-section mt-5">
                <h5 class="text-white">Home Work</h5>
                <p class="text-white">In Progress:</p>

                <div class="row g-3">
                    <div class="col-md-6 col-lg-4">
                        <div class="homework-card">
                            <p>Register Date: 1404/06/01</p>
                            <p>
                                Home Work Home Work Home Work Home Work Home Work Home Work Home Work
                            </p>
                            <p>End Date: 1404/06/10</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="homework-card">
                            <p>Register Date: 1404/06/01</p>
                            <p>
                                Home Work Home Work Home Work Home Work Home Work Home Work Home Work
                            </p>
                            <p>End Date: 1404/06/10</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="homework-card">
                            <p>Register Date: 1404/06/01</p>
                            <p>
                                Home Work Home Work Home Work Home Work Home Work Home Work Home Work
                            </p>
                            <p>End Date: 1404/06/10</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="homework-card">
                            <p>Register Date: 1404/06/01</p>
                            <p>
                                Home Work Home Work Home Work Home Work Home Work Home Work Home Work
                            </p>
                            <p>End Date: 1404/06/10</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="homework-card">
                            <p>Register Date: 1404/06/01</p>
                            <p>
                                Home Work Home Work Home Work Home Work Home Work Home Work Home Work
                            </p>
                            <p>End Date: 1404/06/10</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="homework-card">
                            <p>Register Date: 1404/06/01</p>
                            <p>
                                Home Work Home Work Home Work Home Work Home Work Home Work Home Work
                            </p>
                            <p>End Date: 1404/06/10</p>
                        </div>
                    </div>

                    <p class="text-white">Finished:</p>
                    <div class="col-md-6 col-lg-4">
                        <div class="homework-card">
                            <p>Register Date: 1404/06/01</p>
                            <p>
                                Home Work Home Work Home Work Home Work Home Work Home Work Home Work
                            </p>
                            <p>End Date: 1404/06/10</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="homework-card">
                            <p>Register Date: 1404/06/01</p>
                            <p>
                                Home Work Home Work Home Work Home Work Home Work Home Work Home Work
                            </p>
                            <p>End Date: 1404/06/10</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!----------- number of students modal -------------->
    <div class="modal fade" id="studentModal" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div>
                        <h5 class="modal-title">STUDENT NAMES</h5>
                        <div class="divider"></div>
                    </div>
                    <button type="button" class="btn-close-custom" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <ol class="student-list">
                        {% for student in course.students.all %}
                            <li>{{ student }}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <!-- ------------- absent list modal --------------- -->
    <div class="modal fade" id="absentModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Absent List</h5>
                    <button type="button" class="btn-close-custom" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <div class="list-box">
                        <ol>
                            <li>Ali Salimi</li>
                            <li>Ali Salimi</li>
                            <li>Ali Salimi</li>
                            <li>Ali Salimi</li>
                            <li>Ali Salimi</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------teacher note modal ------------- -->
    <div class="modal fade" id="teachenNoteModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Teacher's Note</h5>
                    <button type="button" class="btn-close-custom" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <div class="list-box">
                        <textarea>

                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}

{% block js %}
    <!-- Bootstrap JS -->
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
{#    <script src="icdl.js"></script>#}
{% endblock js %}