{% extends 'base.html' %}
{% load static %}

{% block title %}
    Courses Panel
{% endblock title %}

{% block head_refs %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{% endblock head_refs %}

{% block contents %}
    <div class="d-flex pt-3">
        <!-- Sidebar -->
        <nav class="sidebar pt-5">
            <ul class="nav flex-column">
                <li class="nav-item"><a href="index.html" class="nav-link active">Courses</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Teachers</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Students</a></li>
            </ul>
        </nav>

        <!-- Main Content -->
        <div class="content flex-grow-1 p-4">
            <!-- Preliminary Section -->
            {% for department in departments %}
                <h5 class="text-white mb-3">{{ department }}</h5>
                {% for course in courses %}
                    {% if course.department == department %}
                        <div class="row g-3 mb-4">
                            <div class="col-6 col-md-4 col-lg-2">
                                <a href="pages/icdl.html"
                                   class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                                    <strong>{{ course.course_name }}</strong>
                                    <small>{% for days in course.week_days.all %}
                                        {{ days }} {% endfor %} {{ course.start_time }} / {{ course.end_time }}</small>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock contents %}

{% block js %}
    <!-- Bootstrap JS -->
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Custom JS -->
    {#    <script src="index.js"></script>#}
{% endblock js %}