{% extends 'base.html' %}
{% load static %}

{% block title %}
    Courses Panel
{% endblock title %}

{% block head_refs %}
    <!-- Bootstrap CSS -->
    <link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
{% endblock head_refs %}

{% block contents %}
    <div class="d-flex pt-3">
        <!-- Sidebar -->
        <nav class="sidebar pt-5">
            <ul class="nav flex-column">
                <li class="nav-item"><a href="index.html" class="nav-link active">Courses</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Teachers</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Students</a></li>
            </ul>
        </nav>

        <!-- Main Content -->
        <div class="content flex-grow-1 p-4">
            <!-- Preliminary Section -->
            <h5 class="text-white mb-3">Preliminary</h5>
            <div class="row g-3 mb-4">
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>ICDL</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>Network+</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>Security+</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>Server+</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>Storage +</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>C++</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>

            </div>
            <!-- Network Section -->
            <h5 class="text-white mb-3">Network</h5>
            <div class="row g-3 mb-4">

                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>CEH</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>SANA</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>PWK</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>CISSP</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>SSCP</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>

                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>Splunk</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>

            </div>
            <!-- Database Section -->
            <h5 class="text-white mb-3">Database</h5>
            <div class="row g-3 mb-4">
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>SQL Server</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>
                
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>SQL high</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>
               
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>SQL SSIS</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>
            </div>

            <!-- Programming & Web Design Section -->
            <h5 class="text-white mb-3">Programming &amp; Web design</h5>
            <div class="row g-3">
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>HTML</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>CSS</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>Bootstrap</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>Java Script</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>React</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>Python</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>
               <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>Django</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>Celery</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>
                <div class="col-6 col-md-4 col-lg-2">
                    <a href="pages/icdl.html" class="btn btn-dark w-100 d-flex flex-column align-items-center justify-content-center">
                        <strong>PHP</strong>
                        <small>Sundays 15 / 20</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock contents %}

{% block js %}
    <!-- Bootstrap JS -->
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Custom JS -->
{#    <script src="index.js"></script>#}
{% endblock js %}